.root {
  display: flex;
  height: 100dvh;
}

.main {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 32px;
  overflow-y: auto;
}

@media (max-width: 640px) {
  .main {
    padding: 16px;
    padding-top: 68px;
  }
}
